<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computer parts, laptops, electronics, and more- Newegg India</title>
    <link
      rel="shortcut icon"
      href="https://c1.neweggimages.com/WebResource/ngm/newegg.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/navbar.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
 <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  
  <body>
    <!-- Header -->
<%- include("includes/_navigationBar") -%>

    <!-- HEader -->

  
    <div class="middle">
    <div class="tabstore">
  <div class="menu-body">
    <div class="listContainer">
      <div class="innerlistContainer">
<div class="menu1">
  <div>
<ul>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Components</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Computer Systems</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Electronics</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Gaming</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Networking</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Office Solutions</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Automotive & Industrial</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Home & Tools</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Health & Sports</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Apparel & Accesories</p>

</div>

    </a>
  </li>
  <li>
    <a href="">
<div class="display-flex align-items-center">
<p>Toys& Drones</p>

</div>

    </a>
  </li>
  


</ul>

  </div>
</div>
      </div>
    </div>
  </div>
  </div>
  </div>
   <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://promotions.newegg.com/international/21-2049/1920x660.jpg"
            class="d-block w-100 .active"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://promotions.newegg.com/international/21-2051/1920x660.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://promotions.newegg.com/international/21-2050/1920x660.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <div class="hero-banner-gradient"></div>
    </div>
  <!-- /Carousal -->




<!-- RENDER PRODUCTS -->
<h3 class="dealsSectionTitle">TODAY'S BEST DEALS</h3> 
  <br>
    <div class="containner">
<div class="row">
      <% for(i=0; i<prod.length/2; i++) { %>
<div class="coll">
  <div class="tag-list">
    <div class="tag">
      <div class="tag-text font-s">
        5% Off w/Code
      </div>
    </div>
  </div>
  <div class="prod_info">
    
    <div class="text_details">
      <div class="text_width">
<a href="http://localhost:3000/<%= prod[i]._id %>"><%= prod[i].prod_name %></a></div>
<p><%= prod[i].price %></p>
<p><small><%= prod[i].discount %></small></p>
</div>
<div>
<img src="<%= prod[i].prod_img %>" class="images"alt="">
</div>
</div>
</div>
     
  <% } %>
  </div>
  </div>
 

      <div class="containner">
<div class="row">
<% for(i=(prod.length-1)/2; i<prod.length; i++) { %>
 
<div class="coll">
  <div class="tag-list">
    <div class="tag">
      <div class="tag-text font-s">
        5% Off w/Code
      </div>
    </div>
  </div>
  <div class="prod_info">
    
    <div class="text_details">
      <div class="text_width">
<a href="http://localhost:3000/<%= prod[i]._id %>"><%= prod[i].prod_name %></a></div>
<p><%= prod[i].price %></p>
<p><small><%= prod[i].discount %></small></p>
</div>
<div>
<img src="<%= prod[i].prod_img %>" class="images"alt="">
</div>
</div>
</div>
     
  <% } %>
  </div>
  </div>

  <!-- RENDER PRODUCTS -->
<!-- See all deals Button -->
<div class="seeAll">
  <a href="" class="btn btn-primary">
    See All Deals
  </a>
</div>
<br>
<div style="padding-left:10px;padding-right:10px;">
  <a href="">
  <img src="https://promotions.newegg.com/gigabyte/21-2023/1920x120.jpg" style="width:100%;height:120px;border-radius:5px;" alt=""></a>
</div>
<br>
<br>
<div class="categ">
<div class="categoriesDiv">
<h3 class="dealsSectionTitle">CATEGORIES</h3></div>
<!-- Light Slider -->




</div>
<div class="categ2">
<div class="categoriesDiv">
<h3 class="dealsSectionTitle">NEWEGG FEATURES</h3></div>
<!-- Light Slider -->

<div class="cardss">
  <div class="roww">
  
      <img src="https://c1.neweggimages.com/WebResource/Themes/Nest/586x280__0004_Marketplace-Sellers.png" class="imgCard"alt="">
    
      <img src="https://c1.neweggimages.com/WebResource/Themes/Nest/ne_features_pcbuilder.jpg" class="imgCard" alt="">
    
      <img src="https://c1.neweggimages.com/WebResource/Themes/Nest/ne_features_live.jpg" class="imgCard" alt="">
    
  </div>
</div>

<br>
<br>
</div>
<br>

<div style="padding-left:10px;padding-right:10px;">
  <a href="">
  <img src="https://promotions.newegg.com/asus/21-2038/1920x120.jpg" style="width:100%;height:120px; border-radius:5px;" alt=""></a>
</div>
<br>
<br>

  <!-- Carousal -->

<!-- See all deals Button -->
  <!-- Footer -->
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
  <!-- /Footer -->

<script src="/scripts/homepage.js"></script>
<script src="/scripts/navbar.js"></script>